{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}

<div id="BodyContent">

    <h1>Scott Turro's Personal Website</h1>
    <p> Dedication and a passion to work hard have been two thing I have prided myself on. I find it important that
        I balance the hard work I put into my projects with my social life. My academics take priority, but
        I believe there is true value in growing relationships and interacting with my peers. I’ll take on a sense
        of ownership for my projects at your company and I would enjoy seeing them grow.
    </p>
</div>
{% endblock %}