body {
    transition: background-color 0.5s;
}

#as-of-date {
    font-size: 0.6em;
}

div#content {
    padding: 5px
}

.custom-container {
    width: 100%;
    max-width: 500px;
    border:.1em solid black;
    border-width: .1em;
    border-radius: 75px;
    font-size: em;
    background: none;
}

#image-container {
    /* height: 50vh;
    min-height:500px; 
    max-width: 100%;
    */

    aspect-ratio: 1; /* This ensures the height is 3/2 times the width */
    /* width: 100%; Ensures the image container takes the full width of its parent */

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#image-container img {
    height: auto;
    width: 100%;
}

div#feed-button {
    background: none;
    padding: 2em 1em;
}


/* Feed history */

div#feed-history{
    border:.1em solid black;
    padding:20px 50px
}

div#feed-history table {
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
}

#feed-table th {
  border-top: none;
  border-bottom: 1px solid;
}*