body {
    transition: background-color 0.5s;
}

#as-of-date {
    font-size: 0.6em;
}

img {
    max-height: 50vh;
    max-width: 90vw;
    height: auto;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div#feed-button {
    background: none;
    padding: 70px 100px;
    font-size: em;
    border-color: black;
    border-width: .1em;
    border-radius: 75px;
}