@media (pointer:coarse) {
    #toc_container {
        /*background: red;*/
        width: 100%;
        margin: auto;
        position: relative;
    }

    div#BodyContent {
        padding:15px 2%;
    }

    #Resume {
        display: none;
    }
}