body {
    overflow-x:hidden;
    font-family:'Roboto', sans-serif;
}

h1#welcome_header {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd;
    width: 100%;
    max-width: 800px;
}

div#BodyContent {
    padding:15px 17%;
}
/* Footer Stuff */
footer {
    border-top:lightgrey solid 2px;
    padding:15px 17%;
}
footer p {
    text-align: center;
}
footer div.row {
    margin:auto !important;
    text-align: center;
}
footer a {
   display: block;
}

.jumbotron {
    text-shadow: 2px 2px 4px #000000;
    color: white;
    max-width: 100%;
    margin: auto;
    height: fit-content;
}
.jumbotron img{
    max-width:100%;
    margin:auto;
    display:block;
}

.jumbotron p {
    margin:0px;
}

.jumbotron h1 {
    font-size:64px;
    margin-top: -5px;
}

/* Info Sections*/
div.InfoSection {
    margin-bottom: 150px;
    margin-left: 15px;
}
div.InfoSection img.company_logo{
    height: 120px;
    padding:10px;
}
div.InfoSection div.company_title{
    border-bottom: 2px solid #ddd;
    margin-bottom: 15px;
}
div.InfoSection h1{
    font-size: 46px;
    padding: 7px;
}
div.InfoSection h2{
    font-size: 22px;
    padding-top: 10px;
}
div.InfoSection table.education_table{
    margin-top: -10px;
    width:100%;
}
div.InfoSection table.education_table td.right_side{
    text-align: right;
}


/* top 5 favorite classes */
div.top_5_classes {
    cursor: pointer;
    border:solid #13294B;
    border-radius: 0px 15px 15px 15px;
}
h2.top_5_classes {
    background-color: #FF552E;
    color: #13294B;
    border-radius: 10px 10px 0 0;
    width: max-content;
    border-color: #13294B;
    border-width: 3px 3px 0 3px;
    border-style: solid;
    margin: 0px;
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px !important;
}
div.top_5_classes table{
    margin:5px !important;
}



/* Task lists */
.Tasks {
}

/* Interests on home page */
h2#interests {
    margin-top: 50px;
    font-size: 2em;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd;
    width: 100%;
    max-width: 800px;
}
.interests {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.interest {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    width: 150px;
}
.interest img {
    max-width: auto;
    height: 70px;
    margin-bottom: 10px;
}
.interest h3 {
    margin: 0;
    font-size: 16px;
}

div#ResumeButtons a {
    margin: 5px;
}
div#Resume {
    height: 100%;
    width: 100%;
}