#toc_container {
    width: 17%;
    position: fixed;
}

#toc_container p {
    margin: 0;
    margin-top: 25px;
    width: max-content;
    padding-left: 10px;
    font-size: 25px;
    font-weight: bold;
}
#toc_container p.toc_title {
    text-decoration:underline;
}

#toc_container li {
    margin:10px 0;
    line-height: 1.2;
}

#toc_container a {
    color: #0056b3; /* Blue color for links */
    text-decoration: none;
    font-weight: normal; /* Normal font weight for links */
}

#toc_container a:hover {
    color: #003366; /* Darker blue for hover effect */
    text-decoration: underline; /* Underline on hover */
}