.navbar-brand {
    font-size: 30px;
    color: white;
    border-right: #555d50 solid 2px;
    padding: 0px 40px;
}
.nav-link {
    padding:10px 25px !important;
}


.navbar-collapse.show .navbar-nav{
    padding-left: 13px !important;
}
.navbar-collapse.collapsing{
    padding-left: 13px !important;
}