{% extends 'base.html' %}
{% block head %}
{% endblock %}

{% block body %}
<div id="toc_container">
    <p class="toc_title">Contents</p>
    <ul class="toc_list">
        <li><a href="#CodeForGood">JP Morgan Code for Good</a></li>
        <li><a href="#Qmunity">Q-munity Hack-Q-Thon</a></li>
        <li><a href="#CongressionalContest">Congressional App Contest</a></li>
        <li><a href="#BPA">Business Professionals of America</a></li>
        <li><a href="#IHSA">IHSA Gymnastics State Competition</a></li>
    </ul>
</div>

<div id="BodyContent">
    <!-- Code For Good-->
    <div class="InfoSection" id="CodeForGood">
        <div class="company_title">
            <img src="{{ url_for('static', filename='img/jpmorgan_logo.png') }}"
                 style="height:33px;padding:0px;"
                 class="company_logo"
                 alt="JP Morgan">
            <!-- <h1>JP Morgan</h1> -->
            <h1 style="font-size: 47px;padding:0px;">Code for Good</h1>
        </div>
        <p>
            I was invited to participate in JP Morgan’s Code for Good Hack-a-thon.
            Through a virtual event with a team of five other members, we were 
            challenged with developing a website for a not-for-profit organization 
            that promotes young girls to participate in sports. We had 24 hours 
            to create the webpage, message board, and database of users using python 
            and html. Because this was a 24hour challenge, some of my teammates 
            focused solely on completion of just their assignment. I and one other 
            member took the lead to ensure the front end and back end worked together. 
            This was definitely a lesson on how to work in a team environment. Our team 
            was granted 1st place. 
        </p>
    </div>

    <!-- Qmunity Hack-Q-Thon -->
    <div class="InfoSection" id="Qmunity">
        <div class="company_title">
            <img src="{{ url_for('static', filename='img/qmunity_logo.png') }}"
                 style="height:80px;padding:0px;"
                 class="company_logo"
                 alt="Q-munity">
            <!-- <h1>Q-munity</h1> -->
            <h1 style="font-size: 50px;padding:0px;">Hack-Q-Thon</h1>
        </div>
        <p>This hackathon's challenge was to develop an application that utilized quantum technology. In under 30 hours I
            independently developed a web interface where you can input different stock portfolios. Then the backend would use
            Qiskit's quantum optimization algorithms to perform portfolio optimization. The challenge in this scenario is you can
            not invest in each stock independently, you must invest in the whole portfolio. Similar to how you would purchase CDOs.
            I placed third in this competition.</p>
        <ul>
            <li><a href="https://devpost.com/software/portfolio-picker#updates">Video Displaying the Website</a></li>
            <li><a href="https://github.com/smturro2/Portfolio-Picker">Github Repo</a></li>
        </ul>
    </div>

    <!-- Congressional App Contest -->
    <div class="InfoSection" id="CongressionalContest">
        <div class="company_title">
            <img src="{{ url_for('static', filename='img/congressional_app_challnege_logo.png') }}"
                 style="height:85px;padding-left:0px;"
                 class="company_logo"
                 alt="Congressional App Contest">
            <!-- <h1>Congressional App Contest</h1> -->
        </div>

        <div class="row">
            <div class="col-md-7">
                <!-- Link to newspaper: https://issuu.com/lionnewspaper8/docs/issue_6_4-13-18 -->
                <p>
                    During my senior year of high school, I won the US Congressional App Challenge
                    for the 3rd District of Illinois. Although the nature of the app, a nostalgic water
                    ring game, was simple in nature, I challenged myself by developing my own physics engine.
                    This was my first major coding project. Utilizing hydrodynamic drag, I simulated the rings
                    floating in water. I also factored in the gyroscope of the phone to determine how the rings
                    would fall. It was shocking experience to be present my app to congressman in washington DC.
                </p>
                <ul>
                    <li><a href="https://patch.com/illinois/westernsprings/lt-senior-gets-visit-congressman">Article About My Visit From Former Congressman</a></li>
                </ul>
            </div>

            <div class="col-md-5">
                <blockquote class="twitter-tweet">
            <p lang="en" dir="ltr">Congratulations to <a href="https://twitter.com/hashtag/LyonsTownship?src=hash&amp;ref_src=twsrc%5Etfw">#LyonsTownship</a>
                Senior Scott Turro, winner of the Congressional App Challenge for the <a href="https://twitter.com/hashtag/IL03?src=hash&amp;ref_src=twsrc%5Etfw">#IL03</a>
                district for his Water Ring Game. He demoed it for me, along with the math and physics he used to create it, at yesterday’s
                <a href="https://twitter.com/hashtag/HouseOfCode?src=hash&amp;ref_src=twsrc%5Etfw">#HouseOfCode</a> event.
                <a href="https://twitter.com/CongressionalAC?ref_src=twsrc%5Etfw">@CongressionalAC</a> <a href="https://t.co/qFPcxa2jJW">pic.twitter.com/qFPcxa2jJW</a>
            </p>
            &mdash; Former Rep. Daniel Lipinski (@RepLipinski)
            <a href="https://twitter.com/RepLipinski/status/984897931567337472?ref_src=twsrc%5Etfw">April 13, 2018</a>
        </blockquote>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>

    <!-- Bussiness Professionals of America -->
    <div class="InfoSection" id="BPA">
        <div class="company_title">
            <img src="{{ url_for('static', filename='img/bpa_logo.jpg') }}"
                 style="height:80px;padding:0px;"
                 class="company_logo"
                 alt="Bussiness Professionals of America">
            <!-- <h1>Bussiness Professionals of America</h1> -->
        </div>
        The competitions I competed in for Bussiness Professionals of America were very quantitative.
        My best subject was the fundamentals of SQL. My first year I placed 7th in state and the following
        year I placed 2nd. This qualified me for the national competition however I was unable to compete
        due to my commitment to the mens gymnastics team.
    </div>

    <!-- IHSA Gymnastics State Competition -->
    <div class="InfoSection" id="IHSA">
        <div class="company_title">
            <img src="{{ url_for('static', filename='img/ihsa_logo.jpg') }}"
                 style="height:50px;padding:0px;padding-bottom:5px;"
                 class="company_logo"
                 alt="IHSA Logo">
            <h1 style="display:inline;font-size:36px;">Gymnastics State Competition</h1>
        </div>
        <p>
            My junior year of high school I lead the mens gymnastics team as team captain. I lead stretches before
            and after practice and resolved issues players had. These issues were sometimes personal or internal
            to our organization. We place second in state this year losing by .2 points. This is the equivalent to
            a single gymnast taking an extra step on the landing.
        </p>
    </div>
</div>
{% endblock %}