{% extends 'base.html' %}

{% block head %}
<title>Turro - Education</title>
{% endblock %}

{% block body %}

<div id="toc_container">
    <p class="toc_title">Contents</p>
    <ul class="toc_list">
        <li><a href="#Graduate">Graduate</a></li>
        <li><a href="#Undergraduate">Undergraduate</a></li>
        <li><a href="#LTHS">High School</a></li>
    </ul>
</div>

<div id="BodyContent">
    <!-- Graduate-->
    <div class="InfoSection" id="Graduate">
        <div class="company_title">
            <!--<h1>University of Chicago</h1>-->
            <img src="{{ url_for('static', filename='img/uchicago_long.png') }}"
                 style="height:86px"
                 class="company_logo"
                 alt="University of Chicago">
        </div>
        <table class="education_table">
            <tr>
                <td>Master of Science in Financial Mathematics</td>
                <td class="right_side">September 2024 - December 2025</td>
            </tr>
            <tr>
                <td></td>
                <td class="right_side">GPA: 3.8/4.0</td>
            </tr>
        </table>
        <div class="row" style="margin-top:15px">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
                <h2 class="top_5_classes top_5_classes_uchi">Top 5 Favorite Classes</h2>
                <div class="top_5_classes top_5_classes_uchi">
                    <table class="education_table">
                    <tr>
                        <td>CAAM 31440</td>
                        <td>Applied Analysis</td>
                        <td>P</td>
                    </tr>
                    <tr>
                        <td>STAT 34800</td>
                        <td>Modern Methods in Applied Statistics</td>
                        <td>A</td>
                    </tr>
                    <tr>
                        <td>FINM 34500</td>
                        <td>Stochastic Calculus</td>
                        <td>A-</td>
                    </tr>
                    <tr>
                        <td>FINM 33150</td>
                        <td>Quantitative Trading Strategies </td>
                        <td>P</td>
                    </tr>
                    <tr>
                        <td>FINM 32700</td>
                        <td>Advanced Computing for Finance</td>
                        <td>A</td>
                    </tr>
                </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Undergraduate-->
    <div class="InfoSection" id="Undergraduate">
        <div class="company_title">
            <!--<h1>University of Illinois at Urbana-Champaign</h1>-->
            <img src="{{ url_for('static', filename='img/uiuc_long.png') }}"
                 style="height:77px"
                 class="company_logo"
                 alt="University of Illinois at Urbana-Champaign">
        </div>
        <table class="education_table">
            <tr>
                <td>Bachelor of Science in Statistics</td>
                <td class="right_side">August 2018 - May 2022</td>
            </tr>
            <tr>
                <td>Minors in Physics, Mathematics, and Computer Science</td>
                <td class="right_side">GPA: 3.7/4.0</td>
            </tr>
        </table>
        <div class="row" style="margin-top:15px">
            <div class="col-md-6">
                <img src="{{ url_for('static', filename='img/gpa_by_sem.png') }}"
                 style="height: 203px;display: block;margin: auto;"
                 alt="GPA over Time">
            </div>
            <div class="col-md-6">
                <h2 class="top_5_classes">Top 5 Favorite Classes</h2>
                <div class="top_5_classes">
                    <table class="education_table">
                    <tr>
                        <td>Stat 430</td>
                        <td>Unsupervised Learning</td>
                        <td>A</td>
                    </tr>
                    <tr>
                        <td>Stat 391</td>
                        <td>Honors Individual Study</td>
                        <td>A+</td>
                    </tr>
                    <tr>
                        <td>Math 490</td>
                        <td>Quantum Computing</td>
                        <td>A+</td>
                    </tr>
                    <tr>
                        <td>Stat 428</td>
                        <td>Statistical Computing</td>
                        <td>A</td>
                    </tr>
                    <tr>
                        <td>Econ 230</td>
                        <td>Economic Statistics II</td>
                        <td>A-</td>
                    </tr>
                </table>
                </div>
            </div>
        </div>
    </div>

    <!-- High School -->
    <div class="InfoSection" id="LTHS">
        <div class="company_title">
            <!--<h1>Lyons Township High School</h1>-->
            <img src="{{ url_for('static', filename='img/lths_long.jpg') }}"
                 style="height:93px"
                 class="company_logo"
                 alt="Lyons Township High School">
        </div>
        <table class="education_table">
            <tr>
                <td>High School Diploma</td>
                <td class="right_side">August 2014 - May 2018</td>
            </tr>
        </table>
                <div class="row" style="margin-top:15px">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
                <h2 class="top_5_classes top_5_classes_LT">Top 5 Favorite Classes</h2>
                <div class="top_5_classes top_5_classes_LT">
                    <table class="education_table">
                    <tr>
                        <td>Gym</td>
                        <td>A</td>
                    </tr>
                    <tr>
                        <td>Study Hall</td>
                        <td>P</td>
                    </tr>
                    <tr>
                        <td>Lunch</td>
                        <td>P</td>
                    </tr>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}