{% extends 'base.html' %}

{% block head %}
<title>Turro - Home</title>
{% endblock %}

{% block body %}

<div id="BodyContent">

<!--    <h1 id="welcome_header">Intro</h1>-->
    <p>
        Being personable and straightforward is how I like to approach life. So to put it bluntly, I love statistics
        and I love building systems. I have a "build up from a strong foundation" approach when it comes to quant
        finance. For me, this meant going back to school and taking graduate-level analysis and stochastic calculus.
        On the systems side, that meant building a data pipeline to ingest daily data from IBKR's API, integrating
        MLflow, and designing my own sec master database for scalability and resiliency. This past year was
        not only to improve my career, but to pursue my passion for statistics and implementing it in quantitative systems.
    </p>
    <p>
        Actively seeking full-time positions in quantitative finance.
    </p>

    <!--  Interests  -->
    <h2 id="interests">Personal Interests</h2>
    <div class="interests">
        <div class="interest">
            <img src="{{ url_for('static', filename='img/interests/yoga.jpg') }}" alt="Warrior 2 Pose">
            <h3>Yoga</h3>
        </div>
        <div class="interest">
            <img src="{{ url_for('static', filename='img/interests/monstera.jpg') }}" alt="Monstera Plant">
            <h3>Plants</h3>
        </div>
        <div class="interest">
            <img src="{{ url_for('static', filename='img/interests/quantum_info.jpg') }}" alt="Quantum Information">
            <h3>Quantum Computing</h3>
        </div>
        <div class="interest">
            <img src="{{ url_for('static', filename='img/interests/blackhawks.png') }}" alt="Chicago Blackhawks">
            <h3>Chicago Blackhawks</h3>
        </div>
    </div>
</div>
{% endblock %}