{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}

<div id="BodyContent">

    <h1>Scott Turro's Personal Website</h1>
    <p>
        Through late-night pondering and conversational coffee chats, I have cultivated a
        deep passion for quantitative finance. So, I decided to pursue a master’s in Financial
        Mathematics at the University of Chicago, where I'll graduate in December 2025.
        I'm most excited to improve my mathematics through classes such as Measure
        Theoretic Probability and to enhance my computer skills with courses on
        distributed computing.
    </p>
    <p>
        Actively seeking quantitative internships for summer 2025.
    </p>
</div>
{% endblock %}