{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}

<div id="BodyContent">

    <h1 id="welcome_header">Scott Turro's Personal Website</h1>
    <p>
        Through late-night pondering and conversational coffee chats, I have cultivated a
        deep passion for quantitative finance. So, I decided to pursue a master’s in Financial
        Mathematics at the University of Chicago, where I'll graduate in December 2025.
        I'm most excited to improve my mathematics through classes such as Measure-Theoretic
        Probability and to enhance my computer skills with courses on distributed computing.
    </p>
    <p>
        Actively seeking quantitative internships for summer 2025.
    </p>

    <!--  Interests  -->
    <h2 id="interests">Personal Interests</h2>
    <div class="interests">
        <div class="interest">
            <img src="{{ url_for('static', filename='img/interests/yoga.jpg') }}" alt="Warrior 2 Pose">
            <h3>Yoga</h3>
        </div>
        <div class="interest">
            <img src="{{ url_for('static', filename='img/interests/monstera.jpg') }}" alt="Monstera Plant">
            <h3>Horticulture</h3>
        </div>
        <div class="interest">
            <img src="{{ url_for('static', filename='img/interests/quantum_info.jpg') }}" alt="Quantum Information">
            <h3>Quantum Information</h3>
        </div>
        <div class="interest">
            <img src="{{ url_for('static', filename='img/interests/blackhawks.png') }}" alt="Chicago Blackhawks">
            <h3>Chicago Blackhawks</h3>
        </div>
        <div class="interest">
            <img src="{{ url_for('static', filename='img/interests/phi_delt.png') }}" alt="Phi Delta Theta">
            <h3>Phi Delta Theta Social Fraternity</h3>
        </div>
    </div>
</div>
{% endblock %}