{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div id="toc_container">
    <p class="toc_title">Contents</p>
    <ul class="toc_list">
        <li><a href="#StockWorld">Stochastic Modeling of the Stock Market</a></li>
        <li><a href="#CovidCXRs">Classification of Covid-19 Chest X-Rays</a></li>
        <li><a href="#NBAClustering">Effective Roles in the 2013 NBA Season</a></li>
        <li><a href="#SBALoans">Default of Loans from the Small Business Administration</a></li>
        <li><a href="#TaskManager>">Task Manager</a></li>
        <li><a href="#UIUCLinks">UIUC Links Website</a></li>
        <li><a href="#econ_203">Econ 203 Paper</a></li>
        <li><a href="#stat_425">Stat 425 Paper</a></li>
    </ul>
</div>

<div id="BodyContent">


    <!-- Stochastic Modeling of the Stock Market -->
    <div class="InfoSection" id="StockWorld">
        <div class="company_title">
            <h1>Stochastic Modeling of the Stock Market</h1>
        </div>
    </div>


    <!-- Classification of Covid-19 Chest X-Rays -->
    <div class="InfoSection" id="CovidCXRs">
        <div class="company_title">
            <h1>Classification of Covid-19 Chest X-Rays</h1>
        </div>
    </div>


    <!-- Effective Roles in the 2013 NBA Season -->
    <div class="InfoSection" id="NBAClustering">
        <div class="company_title">
            <h1>Effective Roles in the 2013 NBA Season</h1>
        </div>
    </div>

    <!-- Default of Loans from the Small Business Administration -->
    <div class="InfoSection" id="SBALoans">
        <div class="company_title">
            <h1>Default of Loans from the Small Business Administration</h1>
        </div>
    </div>


    <!-- Task Manager -->
    <div class="InfoSection" id="TaskManager>">
        <div class="company_title">
            <h1>Task Manager</h1>
        </div>
    </div>


    <!-- UIUC Links-->
    <div class="InfoSection" id="UIUCLinks">
        <div class="company_title">
            <h1>UIUC Links Website</h1>
        </div>
    </div>

    <!-- Econ 203 Paper-->
    <div class="InfoSection" id="econ_203">
        <div class="company_title">
            <h1>Econ 203 Paper</h1>
        </div>
    </div>

    <!-- Stat 425 Paper-->
    <div class="InfoSection" id="stat_425">
        <div class="company_title">
            <h1>Stat 425 Paper</h1>
        </div>
    </div>
</div>
{% endblock %}