{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div id="BodyContent">
    <ul>
{#        <li><a href="{{ url_for('static', filename='resume/resume_turro_f.pdf') }}" download>Resume for financial related positions</a></li>#}
{#        <li><a href="{{ url_for('static', filename='resume/resume_turro_ds.pdf') }}" download>Resume for data science related positions</a></li>#}
{#         <li><a href="{{ url_for('static', filename='resume/resume_turro_sd.pdf') }}" download>Resume for software related positions</a></li>#}
        <embed src="{{ url_for('static', filename='resume/Resume_Turro.pdf') }}" width="100%" height="500"
 type="application/pdf">
    </ul>
</div>
{% endblock %}